.lesson-path {
  display: flex;
  flex-direction: column;
  gap: 32px; /* Espaciado entre los elementos */
  margin-top: 40px;
  margin-left: 4vw; /* Centra el grupo de botones en la pantalla */
}

.lesson-path > *:nth-child(odd) {
  margin-left: 60px; /* Elementos impares alineados a la izquierda */
}

.lesson-path > *:nth-child(4n + 2) {
  margin-left: 120px; /* Elementos impares alineados a la izquierda */
}

.lesson-path > *:nth-child(4n) {
  margin-left: 0px; /* Elementos pares desplazados a la derecha */
}