.lesson-path {
  background-image: url(../../assets/bg-home-v2.png);
  background-repeat: repeat-y;
  background-position: center top;
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  /* margin-top: 25px; */
  padding-top: 25px;
  margin-left: 0vw;
}

.lesson-path > *:nth-child(odd) {
  margin-left: 0px; /* Elementos impares alineados a la izquierda */
}

.lesson-path > *:nth-child(4n + 2) {
  margin-left: 280px; /* Elementos impares alineados a la izquierda */
}

.lesson-path > *:nth-child(4n) {
  margin-left: -280px; /* Elementos pares desplazados a la derecha */
}