/* Sidebar Styles */
.sidebar {
  width: 240px;
  height: 100vh;
  font-family: "Caprasimo", "Arial", sans-serif;
  background-color: #1f2937;
  /* background-color: #f39c12; */
  /* background: linear-gradient(100deg, #ffe066 0%, #ffd700 100%); */
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #374151;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #10b981;
  margin: 0;
}

.sidebar-nav {
  flex: 1;
  padding: 10px 0;
}
