
.matrix {
  border: none;
  border-radius: 20px;
  background: #111; /* Solo fondo negro */
  color: #fff;
  margin: 0 auto;
  font-size: 2rem;
  width: 120px;
  height: 120px;
  text-align: center;
  box-shadow: none;
  display: table;
}

.matrix td {
  width: 60px;
  height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  background: transparent;
}

.matrix-empty {
  background: #111;
  color: #bbb;
  border: 2px dashed #444;
}

.dnd-options {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 32px;
}

.dnd-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 40px;
}