.home-content {
  display: flex;
  flex-direction: column;
}

.home-content h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.2rem;
  color: #6b7280;
  margin-bottom: 3rem;
}

.lesson-node.active {
  background: linear-gradient(135deg, #fed053, #c29f3e);
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
}

body {
  background-color: #1e2328;
}